.background_image_container {
  background-image: url('./../images/viktor-forgacs-Bvo2-SNi0rw-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: -100;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: animate 10s linear infinite;

}


@keyframes animate {
  0% {
    background-position: 100px;
  } 
  50% {
    background-position: 0px;
  }
  100% {
    background-position: 100px;
  }
  animation-direction: alternate;
  animation-iteration-count: infinite;
}



.header {
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}


.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list {
  display: flex;
  list-style: none;
}

.nav_item {
  margin: 0 20px;
}

.nav_item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}


.topics_container{
  height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.about {
  width: 100%;
  transform: translateZ(-100px);
  perspective: 500px;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.home {
  width: 100%;
  transform: translateZ(-100px);
  perspective: 500px;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: column;
  overflow: "hidden";
  height: 80%;
}

.intro{
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.astronaut{
  z-index: 100;
}


/* .coffee{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

} */

.coffee_box {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.coffee_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.turn_coffee_code{
  /* font-size: 22px;
  text-align: center;
  margin-left: -35px; */
  margin-top: 13%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 40px;
  font-family: monospace;
  border-right: 3px solid #fff;
  animation: typing 3s steps(30, end), blink-caret .5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #fff }
}


.experience{
  heigh: 1000px;
}