.home{
  perspective: 1000px;
}

.background_image_container {
  background-image: url('./../images/viktor-forgacs-Bvo2-SNi0rw-unsplash.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: -100;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: animate 10s linear infinite;

}


@keyframes animate {
  0% {
    background-position: 100px;
  } 
  50% {
    background-position: 0px;
  }
  100% {
    background-position: 100px;
  }
  animation-direction: alternate;
  animation-iteration-count: infinite;
}



.header {
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}


.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list {
  display: flex;
  list-style: none;
}

.nav_item {
  margin: 0 20px;
}

.nav_item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}


.topics_container{
  height: 100vh;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

.about {
  width: 100%;
  transform: translateZ(-100px);
  perspective: 500px;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.home {
  width: 100%;
  transform: translateZ(-100px);
  perspective: 500px;
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: column;
  flex-direction: column;
  overflow: "hidden";
}

.intro{
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.astronaut{
  z-index: 100;
}
